/* line 20, app/assets/stylesheets/chart-labels.scss */
.ct-legend {
  position: relative;
  z-index: 10;
}

/* line 24, app/assets/stylesheets/chart-labels.scss */
.ct-legend li {
  position: relative;
  padding-left: 23px;
  margin-bottom: 3px;
}

/* line 30, app/assets/stylesheets/chart-labels.scss */
.ct-legend li:before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  content: '';
  border: 3px solid transparent;
  border-radius: 2px;
}

/* line 40, app/assets/stylesheets/chart-labels.scss */
.ct-legend li.inactive:before {
  background: transparent;
}

/* line 44, app/assets/stylesheets/chart-labels.scss */
.ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-a:before {
  background-color: #d70206;
  border-color: #d70206;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-b:before {
  background-color: #f05b4f;
  border-color: #f05b4f;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-c:before {
  background-color: #f4c63d;
  border-color: #f4c63d;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-d:before {
  background-color: #d17905;
  border-color: #d17905;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-e:before {
  background-color: #453d3f;
  border-color: #453d3f;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-f:before {
  background-color: #59922b;
  border-color: #59922b;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-g:before {
  background-color: #0544d3;
  border-color: #0544d3;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-h:before {
  background-color: #6b0392;
  border-color: #6b0392;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-i:before {
  background-color: #f05b4f;
  border-color: #f05b4f;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-j:before {
  background-color: #dda458;
  border-color: #dda458;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-k:before {
  background-color: #eacf7d;
  border-color: #eacf7d;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-l:before {
  background-color: #86797d;
  border-color: #86797d;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-m:before {
  background-color: #b2c326;
  border-color: #b2c326;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-n:before {
  background-color: #6188e2;
  border-color: #6188e2;
}

/* line 51, app/assets/stylesheets/chart-labels.scss */
.ct-legend .ct-series-o:before {
  background-color: #a748ca;
  border-color: #a748ca;
}
