-if @accounts.count == 0
  .col
    %h1.text-center Welcome on Yac.io
    %p.text-center
      It seems that you don't have any account setup.
      Please
      = link_to 'create a new account', new_account_path
      to get started

=render 'accounts/accounts', accounts: @accounts