-@transactions.each do |transaction|
  =transaction.date
  ,
  =transaction.name
  ,
  =transaction.category.name unless transaction.category.nil?
  ,
  =transaction.payment_mean.name
  ,
  =transaction.settlement_amount
  \n