%h2
  =@account.name
  = "#{format_currency @account.current_value, @account.currency}"

=link_to 'Add Transaction', new_account_transaction_path(@account), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'

%br
%br

=render 'transactions/transaction-table', transactions: @account.transactions

= link_to 'Edit', edit_account_path(@account)
|
= link_to 'Back', accounts_path


